.rounded {
    border-radius: 2em;
    border: 3px solid black;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 25em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

i {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 2em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  /* Set the fixed height of the footer here */
    height: 2em;
    background-color: #222222;
    color: white;
}

.industryIconText {
    font-size: 28px;
    color: #222222;
}

.absoluteCenter {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
 }

.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:block;
}