block footer
    footer
        div(class="center-column")
            div(class="westedge-logo")
                img(src="../images/westedge-logo-footer.png" alt="West Edge Collective Logo")
            div(class="westedge-attribution") Front end design provided by westedge collective
            div(class="copyright") &copy; Copyright 2016. Gannett Peak Technical Services. All Rights Reserved.